body {
    padding-top : 70px;
}

button {
    height : 20px;
    line-height : 8px;
}

.container {
    margin-left : 0px;
    margin-right : 0px;
}

.clear20 {
    margin-top : 20px;
}

.table {
    margin-bottom : 0px;
}

.table-bordered th {
    text-align : center;
    background-color : #1f497d;
    color : #fff;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th, 
.table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, 
.table-bordered > tbody > tr > td, 
.table-bordered > tfoot > tr > td {
    padding : 6px;
}

.isNew {
	background-color : red;
	color : #fff;
	font-weight : 600;
	width : 20px;
	height : 20px;
	text-align : center;
	border-radius : 50%;
	display : inline-block;
	white-space : nowrap;
	margin-right : 10px;
}
